Projects/NodeRED/flow2.json
[{"id":"ddf1acc.e55ef5","type":"tab","label":"Flujo 2 - Práctica SD","disabled":false,"info":""},{"id":"d99a5139.bcf7d","type":"inject","z":"ddf1acc.e55ef5","name":"","topic":"flujoSD","payload":"Estamos creando un flujo con Mosquitto","payloadType":"str","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":240,"wires":[["8448514c.0eadf"]]},{"id":"9728f796.ed3ba8","type":"mqtt in","z":"ddf1acc.e55ef5","name":"","topic":"/merakimv/Q2GV-Y4R8-5Z3L/light","qos":"2","datatype":"auto","broker":"15540c9a.bd8783","x":380,"y":160,"wires":[["cac7fc45.128e"]]},{"id":"7acf39ce.0e6638","type":"function","z":"ddf1acc.e55ef5","name":"","func":"var i = flow.get('c') || 0; //si no existe la variable, la inicializamos en 0\ni++;\n\n\nvar maximo = msg.payload.lux\n\nif (i === 1){\n    vector = [];\n    vector.push(msg.payload.lux);\n}\nelse\n    vector.push(msg.payload.lux);\n\n\nmaximo = Math.max(...vector)\nmsg.payload = {\"lux\": msg.payload.lux, \"máximo\": maximo};\n\n\n\nflow.set('c',i);\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":160,"wires":[[]]},{"id":"92661aff.70de78","type":"debug","z":"ddf1acc.e55ef5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":160,"wires":[]},{"id":"cac7fc45.128e","type":"json","z":"ddf1acc.e55ef5","name":"","property":"payload","action":"obj","pretty":false,"x":670,"y":160,"wires":[[]]},{"id":"8448514c.0eadf","type":"mqtt out","z":"ddf1acc.e55ef5","name":"","topic":"","qos":"","retain":"","broker":"15540c9a.bd8783","x":410,"y":240,"wires":[]},{"id":"85c087e1.7eeca8","type":"debug","z":"ddf1acc.e55ef5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":240,"wires":[]},{"id":"ecee5f.92ec91a","type":"mqtt in","z":"ddf1acc.e55ef5","name":"","topic":"flujoSD","qos":"2","datatype":"auto","broker":"15540c9a.bd8783","x":530,"y":240,"wires":[["85c087e1.7eeca8"]]},{"id":"15540c9a.bd8783","type":"mqtt-broker","z":"","name":"","broker":"https://test.mosquitto.org/","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]