Projects/NodeRED/flow1.json
[{"id":"90ff2c5c.530e1","type":"tab","label":"Flujo 1 - Práctica 4 SD","disabled":false,"info":""},{"id":"b0ca2562.9f5fe8","type":"http in","z":"90ff2c5c.530e1","name":"","url":"/suma","method":"get","upload":false,"swaggerDoc":"","x":320,"y":240,"wires":[["c615cdcc.7b93b"]]},{"id":"c615cdcc.7b93b","type":"function","z":"90ff2c5c.530e1","name":"","func":"longitud = msg.req.body.a.length\nresultado = new Array(longitud)\nmsg.parametros = msg.req.body;\n\nfor (var i = 0; i < longitud; i++)\n    resultado[i] = msg.req.body.a[i] + msg.req.body.b[i]\n\n\n\nif (resultado[0] == msg.req.body.a[0] + msg.req.body.b[0])\n    msg.peticion = \"suma\"\nelse if (resultado[0] == msg.req.body.a[0] - msg.req.body.b[0])\n    msg.peticion = \"resta\"\nelse if(resultado[0] == msg.req.body.a[0] * msg.req.body.b[0])\n    msg.peticion = \"multiplicacion\"\nelse if(resultado[0] == msg.req.body.a[0] / msg.req.body.b[0])\n    msg.peticion = \"division\"\nelse if(resultado[0] == msg.req.body.a[0] % msg.req.body.b[0])\n    msg.peticion = \"modulo\"\n\n\n\nmsg.payload = {\"resultado\":resultado,\"peticion\":msg.peticion, \"parametros\":msg.parametros}; \n\n//msg.header = {};\n//msg.header['content-type'] = \"application/json\"\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":240,"wires":[["61605e3d.ce971","2cda528c.27a26e"]]},{"id":"b9e2579e.c12678","type":"http in","z":"90ff2c5c.530e1","name":"","url":"/resta","method":"get","upload":false,"swaggerDoc":"","x":320,"y":300,"wires":[["6bd1af67.3bc38"]]},{"id":"61605e3d.ce971","type":"http response","z":"90ff2c5c.530e1","name":"","statusCode":"","headers":{},"x":670,"y":300,"wires":[]},{"id":"6bd1af67.3bc38","type":"function","z":"90ff2c5c.530e1","name":"","func":"longitud = msg.req.body.a.length\nresultado = new Array(longitud)\nmsg.parametros = msg.req.body;\n\nfor (var i = 0; i < longitud; i++)\n    resultado[i] = msg.req.body.a[i] - msg.req.body.b[i]\n\n\n\nif (resultado[0] == msg.req.body.a[0] + msg.req.body.b[0])\n    msg.peticion = \"suma\"\nelse if (resultado[0] == msg.req.body.a[0] - msg.req.body.b[0])\n    msg.peticion = \"resta\"\nelse if(resultado[0] == msg.req.body.a[0] * msg.req.body.b[0])\n    msg.peticion = \"multiplicacion\"\nelse if(resultado[0] == msg.req.body.a[0] / msg.req.body.b[0])\n    msg.peticion = \"division\"\nelse if(resultado[0] == msg.req.body.a[0] % msg.req.body.b[0])\n    msg.peticion = \"modulo\"\n\n\n\nmsg.payload = {\"resultado\":resultado,\"peticion\":msg.peticion, \"parametros\":msg.parametros}; \n\n//msg.header = {};\n//msg.header['content-type'] = \"application/json\"\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":300,"wires":[["61605e3d.ce971","2cda528c.27a26e"]]},{"id":"53cb76b3.a139d8","type":"http in","z":"90ff2c5c.530e1","name":"","url":"/multesc","method":"get","upload":false,"swaggerDoc":"","x":330,"y":360,"wires":[["1674d05d.c5b65"]]},{"id":"1674d05d.c5b65","type":"function","z":"90ff2c5c.530e1","name":"","func":"longitud = msg.req.body.a.length\nresultado = new Array(longitud)\nmsg.parametros = msg.req.body;\n\nfor (var i = 0; i < longitud; i++)\n    resultado[i] = msg.req.body.a[i] * msg.req.body.b[i]\n\n\n\nif (resultado[0] == msg.req.body.a[0] + msg.req.body.b[0])\n    msg.peticion = \"suma\"\nelse if (resultado[0] == msg.req.body.a[0] - msg.req.body.b[0])\n    msg.peticion = \"resta\"\nelse if(resultado[0] == msg.req.body.a[0] * msg.req.body.b[0])\n    msg.peticion = \"multiplicacion\"\nelse if(resultado[0] == msg.req.body.a[0] / msg.req.body.b[0])\n    msg.peticion = \"division\"\nelse if(resultado[0] == msg.req.body.a[0] % msg.req.body.b[0])\n    msg.peticion = \"modulo\"\n\n\n\nmsg.payload = {\"resultado\":resultado,\"peticion\":msg.peticion, \"parametros\":msg.parametros}; \n\n//msg.header = {};\n//msg.header['content-type'] = \"application/json\"\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":360,"wires":[["61605e3d.ce971","2cda528c.27a26e"]]},{"id":"49bf8418.b640cc","type":"http in","z":"90ff2c5c.530e1","name":"","url":"/division","method":"get","upload":false,"swaggerDoc":"","x":330,"y":420,"wires":[["78ba724f.69597c"]]},{"id":"78ba724f.69597c","type":"function","z":"90ff2c5c.530e1","name":"","func":"longitud = msg.req.body.a.length\nresultado = new Array(longitud)\nmsg.parametros = msg.req.body;\n\nfor (var i = 0; i < longitud; i++)\n    resultado[i] = msg.req.body.a[i] / msg.req.body.b[i]\n\n\n\nif (resultado[0] == msg.req.body.a[0] + msg.req.body.b[0])\n    msg.peticion = \"suma\"\nelse if (resultado[0] == msg.req.body.a[0] - msg.req.body.b[0])\n    msg.peticion = \"resta\"\nelse if(resultado[0] == msg.req.body.a[0] * msg.req.body.b[0])\n    msg.peticion = \"multiplicacion\"\nelse if(resultado[0] == msg.req.body.a[0] / msg.req.body.b[0])\n    msg.peticion = \"division\"\nelse if(resultado[0] == msg.req.body.a[0] % msg.req.body.b[0])\n    msg.peticion = \"modulo\"\n\n\n\nmsg.payload = {\"resultado\":resultado,\"peticion\":msg.peticion, \"parametros\":msg.parametros}; \n\n//msg.header = {};\n//msg.header['content-type'] = \"application/json\"\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":420,"wires":[["61605e3d.ce971","2cda528c.27a26e"]]},{"id":"df465bdc.a823c8","type":"http in","z":"90ff2c5c.530e1","name":"","url":"/modulo","method":"get","upload":false,"swaggerDoc":"","x":330,"y":480,"wires":[["3360db2a.05e204"]]},{"id":"3360db2a.05e204","type":"function","z":"90ff2c5c.530e1","name":"","func":"longitud = msg.req.body.a.length\nresultado = new Array(longitud)\nmsg.parametros = msg.req.body;\n\nfor (var i = 0; i < longitud; i++)\n    resultado[i] = msg.req.body.a[i] % msg.req.body.b[i]\n\n\n\nif (resultado[0] == msg.req.body.a[0] + msg.req.body.b[0])\n    msg.peticion = \"suma\"\nelse if (resultado[0] == msg.req.body.a[0] - msg.req.body.b[0])\n    msg.peticion = \"resta\"\nelse if(resultado[0] == msg.req.body.a[0] * msg.req.body.b[0])\n    msg.peticion = \"multiplicacion\"\nelse if(resultado[0] == msg.req.body.a[0] / msg.req.body.b[0])\n    msg.peticion = \"division\"\nelse if(resultado[0] == msg.req.body.a[0] % msg.req.body.b[0])\n    msg.peticion = \"modulo\"\n\n\n\nmsg.payload = {\"resultado\":resultado,\"peticion\":msg.peticion, \"parametros\":msg.parametros}; \n\n//msg.header = {};\n//msg.header['content-type'] = \"application/json\"\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":480,"wires":[["61605e3d.ce971","2cda528c.27a26e"]]},{"id":"5a10836d.12da7c","type":"file","z":"90ff2c5c.530e1","name":"","filename":"/home/rafa/Desktop/file.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"utf8","x":1030,"y":380,"wires":[[]]},{"id":"2cda528c.27a26e","type":"switch","z":"90ff2c5c.530e1","name":"","property":"peticion","propertyType":"msg","rules":[{"t":"eq","v":"suma","vt":"str"},{"t":"eq","v":"resta","vt":"str"},{"t":"eq","v":"multesc","vt":"str"},{"t":"eq","v":"division","vt":"str"},{"t":"eq","v":"modulo","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":670,"y":380,"wires":[["c6cbc960.3b7c08"],["c6cbc960.3b7c08"],["c6cbc960.3b7c08"],["c6cbc960.3b7c08"],["c6cbc960.3b7c08"]]},{"id":"c6cbc960.3b7c08","type":"function","z":"90ff2c5c.530e1","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":380,"wires":[["5a10836d.12da7c"]]}]